* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #CCC;
    font-family: Arial;
    font-size: 11px;
}

ul li {
    list-style: none;
}


#topo {
    background-color: orange;
    padding: 5px;
    text-align: center;
}

/* JOGO */

.carta{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: black solid 1px;
    margin: 5px 0px 0px 5px;
    float: left;
    background: white;
    text-align: center;
}

.virada{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: black solid 1px;
    margin: 5px 0px 0px 5px;
    float: left;
    background: white;
    text-align: center;
    z-index: 10;
}

#jogo ul li img {
    margin-top: 10px;
    z-index: 2;
}